@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
}


/* LOGO */
.logo {
  width: 96px;
  height: 93px;
  margin: 0;
}

/* MENU */

.janela {
  display: flex;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #dadada;
  background-color: #fff;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #34121f;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 45%;
  color: white;
  background-color: #904101;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 45%;
  background-color: white;
  border: 3px solid #904101;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #904101;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #e6005a;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* BARRA DE XP */

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #fff;
  height: 100vh;
  overflow: auto;
}

.barra-de-progresso {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #904101;
  border-radius: 10px;
}

.barra-de-progresso .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.outer {
  display: flex;
  width: 100%;
  height: 15px;
  background: #34121f;
  flex-direction: row;
  justify-content: flex-start;
}

.inner {
  width: 0%;
  height: 15px;
  background: #e3b062;
}

/* PET | EEVEE */

img {
  display: flex;
  margin: auto;
  padding: 50px;
  width: 40%;
}

/* BOTÕES DE INTERAÇÃO */
.interacao {
  display: flex;
  width: 430px;
  justify-content: space-between;
  margin: auto;
}

.botao {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #e3b062;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #904101;
}

.botao:active {
  box-shadow: 0 5px #34121f;
  transform: translateY(4px);
}