@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;

}

/*SUAVIZAR SCROLL*/
html {
  scroll-behavior: smooth;
}

/*MENU*/

.container {
  display: flex;
  width: 90%;
  margin: auto;

}

.header {
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #dadada;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;

}


.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  width: 56px;
  height: 53px;
  margin: 0;
}

.header a {
  float: left;
  color: #4D4D4D;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 12px;
  border-radius: 4px;
}


.header .botao-menu a {
  background-color: #904101;
  border-radius: 5px;
  color: #fff;
  width: 80px;
}


.navbar {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.navbar a:hover {
  background-color: #faf0dc;
  color: #4D4D4D;
}

/*BANNER*/
.banner {
  background-image: url('../assets/img/banner-year-eevee.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  margin-top: 50px;
}

/*TEXTO1*/
.ano-eevee {
  text-align: center;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  color: #4D4D4D;
}

.ano-eevee h1 {
  font-size: 36px;
}

.ano-eevee p {
  font-size: 16px;
  text-align: left;
}

/*TEXTO2 E IMAGEM AO LADO*/
.quem_eevee {
  text-align: left;
  max-width: 900px;
  margin: auto;
  padding: 16px;
  color: #4D4D4D;
}

.eevee01 {
  float: right;
  width: 30%;
  position: relative;
  top: -33px;
  margin-left: 20px;
}

.quem_eevee2 {
  text-align: right;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  color: #4D4D4D;
}

.eevee02 {
  float: left;
  width: 30%;
  position: relative;
  top: -35px;
  margin-right: 20px;

}


/*EFEITO ONDA FUNDO*/
.separacao {
  padding: 5%;
}

.onda {
  background-image: url('../assets/img/onda.png');
  width: 100%;
  height: 100px;
}

.fundo-cor {
  background-color: #fcece3;
}


/*BOX CAIXAS*/
.todas-boxes {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding: 10px;
}



.titulo {
  text-align: center;
  margin: auto;
  color: #4D4D4D;
  padding: 10px;

}

.box {
  flex: 1;
  padding: 50px;
}

.image-redonda {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10%;

}

.image-redonda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.box p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
  color: #4D4D4D;
}

/*SOBRE MIM*/
.sobre {
  text-align: left;
  max-width: 900px;
  margin: auto;
  padding: 16px;
  color: #4D4D4D;
}

/*GALERIA*/

.galeria {
  text-align: left;
  max-width: 900px;
  margin: auto;
  padding: 16px;
  color: #4D4D4D;
}




/*RODAPÉ*/

.footer {
  background-color: #EAD8C5;

}

.footer1 {
  margin-top: 40px;
  /*ajustar o loguin*/
}

.container-footer {
  display: flex;
  width: 90%;
  margin: auto;
}

.footer .container-footer {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer .container .version {
  font-size: 12px;
}

.eevee-fim {
  width: 200px;
  float: right;
  position: relative;
  top: -60px;
  margin-left: 20px;
}

.footer a {
  float: left;
  color: #4D4D4D;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  line-height: 12px;
  border-radius: 4px;
}

.navbar-footer {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-direction: column;
}

.navbar-footer a:hover {
  text-decoration: none;
}

/* CADASTRO LOGIN */

.login {
  padding-top: 150px;
  padding-bottom: 50px;

}

.login1 {
  margin-top: 70px;
  /*ajustar o loguin*/
}


.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #4D4D4D;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 1px solid #B3B3B3;
  text-align: left;
  border-radius: 10px;
  margin: 0;
  padding: 10px
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #904101;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;

}

.botao:active {
  background-color: #faf0dc;
  color: #4D4D4D;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}